@media (max-width: 29em) {
  .header-img {
    max-width: 100%;
  }
  .main-container {
    max-width: 90%;
    margin: 5rem auto;
  }

  .order-plan {
    transform: translateX(0%);
  }
}

@media (max-width: 24em) {
  .main-body {
    padding: 1.2rem 2.4rem;
  }

  .order-plan-box {
    padding: 0.8rem 1.2rem;
  }
  .btn-change:link,
  .btn-change:visited {
    font-size: 1.2rem;
  }
  .order-description {
    font-size: 1.6rem;
  }
}
